@import "~bootstrap/dist/css/bootstrap.min.css";
@import "Iconic.scss";
@import "Colors.scss";

@font-face {
  font-family: 'Roboto';
  src: local('../fonts/Roboto.ttf');
}

.App-login {
  font-family: Roboto, sans-serif;

  .header {
    background-color: material-color("blue-grey", "900");
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;

    .logo {
      height: 80px;
    }
  }

  .body {
    padding: 1em;

    .login > * {
      margin-bottom: 0.25em;
    }
    .login-btn {
      width: 100%;
      text-align: left;
    }
  }
}