@import "~bootstrap/dist/css/bootstrap.min.css";
@import "Iconic.scss";
@import "Colors.scss";

.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: material-color("blue-grey", "900");
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}