@import "~bootstrap/dist/css/bootstrap.min.css";
@import "libs/Iconic.scss";
@import "libs/Slide.scss";
@import "libs/Colors.scss";

@font-face {
  font-family: 'Roboto';
  src: local('../fonts/Roboto.ttf');
}

.App {
  font-family: Roboto, sans-serif;
  overflow: hidden;
  min-width: 100vw;
}

.body {
  padding: 1em;
}

.no-show {
  display: none;
}

// bootstrap overrides
.bg-dark {
  background-color: material-color("blue-grey", "900") !important;
}
